.row
  .col-12-sm
    h3 On Tap
    p.text-muted Taps Used: 3/4, Capacity: 10

    
    // Brew 1
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-beer 
                    | Snowman's Nose
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush
          .col-sm-2
            .card-block
              p
                wc-resource-icon([resourceType]="'gold'", [value]=8)
              p
                wc-resource-icon([resourceType]="'storage'", [value]=546)
              p
                wc-resource-icon([resourceType]="'popularity'", [value]=8)
      
    // Brew 2
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-beer 
                    | Brother's Brew
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non blandit augue, at varius est.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush          
          .col-sm-2
            .card-block
              p
                wc-resource-icon([resourceType]="'gold'", [value]=4)
              p
                wc-resource-icon([resourceType]="'storage'", [value]=230)
              p
                wc-resource-icon([resourceType]="'popularity'", [value]=6)
      
    // Brew 3
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-glass 
                    | Pino Nah
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush
          .col-sm-2
            .card-block
              p
                wc-resource-icon([resourceType]="'gold'", [value]=5)
              p
                wc-resource-icon([resourceType]="'storage'", [value]=124)
              p
                wc-resource-icon([resourceType]="'popularity'", [value]=3)