.row
  .col-12-sm
    h3 On Tap
    p.text-muted Taps Used: 3/4

    
    // Brew 1
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-beer 
                    | Snowman's Nose
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush
          .col-sm-2
            .card-block
              p
                i.fa.fa-fw.fa-circle.gold-resource
                | 8
              p
                i.fa.fa-fw.fa-cubes.storage-resource
                | 546
              p
                i.fa.fa-fw.fa-smile-o
                | 8        
      
    // Brew 2
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-beer 
                    | Brother's Brew
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush          
          .col-sm-2
            .card-block
              p
                i.fa.fa-fw.fa-circle.gold-resource
                | 4
              p
                i.fa.fa-fw.fa-cubes.storage-resource
                | 230
              p
                i.fa.fa-fw.fa-smile-o
                | 6
      
    // Brew 3
    .card
      .container
        .row
          .col-sm-10
            .card-block
              .card-title 
                  h3
                    i.fa.fa-fw.fa-glass 
                    | Pino Nah
                  p.card-subtitle.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              .card-body
                .btn-group
                  button.btn.btn-primary Info                              
                  button.btn.btn-primary Increase Price
                  button.btn.btn-primary Decrease Price
                  button.btn.btn-danger Flush
          .col-sm-2
            .card-block
              p
                i.fa.fa-fw.fa-circle.gold-resource
                | 5
              p
                i.fa.fa-fw.fa-cubes.storage-resource
                | 124                
              p
                i.fa.fa-fw.fa-smile-o
                | 3