@import 'vars/loot.scss';

.status-bar {
  .resource-indicators {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
  }



  .resource-indicators {
    vertical-align: middle;
  }

  .date {
    font-style: italic;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid darkgray;
  }
}