.gold-resource i {
  color: gold;
}
.peasant-resource i {
  color: white;
}

.soldier-resource i {
  color: lawngreen;
}

.merchant-resource i {
  color: dodgerblue;
}

.knight-resource i {
  color: mediumpurple;
}

.noble-resource i {
  color: darkorange;
}