nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse.status-bar
  a.navbar-brand(routerLink="/") The Waycross Inn
  
  div.pull-xs-right.nav-item.resource-indicators
   
    ul.nav.navbar-nav

      li.nav-item
        wc-resource-icon([resourceType]="'peasant'", [value]="gameState?.populace.peasants")

      li.nav-item
        wc-resource-icon([resourceType]="'merchant'", [value]="gameState?.populace.merchants")

      li.nav-item
        wc-resource-icon([resourceType]="'soldier'", [value]="gameState?.populace.soldiers")

      li.nav-item
        wc-resource-icon([resourceType]="'knight'", [value]="gameState?.populace.knights")

      li.nav-item
        wc-resource-icon([resourceType]="'noble'", [value]="gameState?.populace.nobles")
    
      li.nav-item
        wc-resource-icon([resourceType]="'gold'", [value]="gameState?.gold")

      li.nav-item
        wc-resource-icon([resourceType]="'renown'", [value]="gameState?.renown")

      span.navbar-text.navbar-right.date
        | 5th of Summer 
        i.fa.fa-fw.fa-sun-o
