nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  a.navbar-brand(routerLink="/") The Waycross Inn
  
  ul.nav.navbar-nav
    li.nav-item(routerLinkActive="active")
      a.nav-link(routerLink="/") Home
      
    li.nav-item(routerLinkActive="active")
      a.nav-link(routerLink="/about") About

    div.pull-xs-right 
      ul.nav.navbar-nav
        li.nav-item 
          span 123 Gold

.container
  router-outlet