.notifications
  h4 News
  .card
    .card-block
      img.card-img-top(src="/public/images/eating.png")
      h4.card-title Welcome to Fermentale!
      p.card-text Remember: Today's rain is tomorrow's whisky!
      a.card-link(href="#") Dismiss
  .card
    .card-block
      img.card-img-top(src="/public/images/food.png")
      h4.card-title Menu Empty
      p.card-text Your menu is empty. Go to your kitchen to add some recipes to it!
      a.card-link(href="#") Go to kitchen
      a.card-link(href="#") Dismiss
  .card
    .card-block
      img.card-img-top(src="http://placehold.it/210x150")
      h4.card-title Unrest in Littleshore
      p.card-text Bandit attacks are resulting in reduced travel from Littleshore.
