.notifications
  h4 News
  .card
    .card-block
      img.card-img-top(src="http://placekitten.com/210/150")
      h4.card-title Menu Empty
      p.card-text Your menu is empty. Go to your kitchen to add some recipes to it!
  .card
    .card-block
      img.card-img-top(src="http://placekitten.com/210/150")
      h4.card-title Unrest in Littleshore
      p.card-text Bandit attacks are resulting in reduced travel from Littleshore.
