ul.nav.nav-pills

  li.nav-item
    a.nav-link(routerLink="/overview", routerLinkActive="active") Overview  

  li.nav-item
    a.nav-link(routerLink="/taproom", routerLinkActive="active") Taproom
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") Storage
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") Kitchen
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") Brewery
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") Lodgings
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") Trade
    
  li.nav-item
    a.nav-link(routerLink="/about", routerLinkActive="active") World
