html
  head
    title The Waycross Inn
    base(href="/waycross-inn/")
    meta(charset="UTF-8")
    meta(name="author", content="Mikey")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description" content="The waycross inn")

  body
    wc-app 
      | Getting loaded 
