html
  head
    base(href="/waycross-inn/")
    title The Waycross Inn
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  
  body
    my-app Getting loaded...